.blogSection{
    // height: 50vh;
    background: linear-gradient(360deg, rgba(85, 25, 109, 0.795) 50%, rgba(2, 2, 2, 0.192) 100%),
     url('https://res.cloudinary.com/namiri/image/upload/v1689098217/Women_s_Day_Event_1_1_ignoof.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 70vh;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    .title{
        display: flex;
        justify-content: flex-start;
        align-items: flex-end;
        

    }

    .heading{
        font-family: 'DM Serif Display', serif;
        font-size: 55px ;
        line-height: 60px;
    }
}

// 

.newsCard{
    .Img1{
        width:500px;
        height: 200px;
        object-fit: cover;
    }
    .Card{
        h3{
            font-family: 'DM Serif Display', serif;
            font-size: 23px ;
            line-height: 30px;
        }

        p{
            font-family: 'Inter', sans-serif;
            font-size: 15px ;
            line-height: 25px;
            background-color: red($color: #ff0000);
        }

    }
}



// individual blog page

.Image {
    width: 100%;
    height: 50vh;
    object-fit: cover;
    object-position: center center;

    .Img1{
        width: 100%;
        height: 50vh;
        object-fit: cover;
        object-position: center center;
    }

    @media screen and (max-width: 768px) {
        width: 100%;
        height: 30vh;
        object-fit: cover;
        object-position: center center;
    }

}

.content{
    p{
        padding-top: 20px;
        font-family: 'Inter', sans-serif;
        font-size: 16px ;
        margin-top: 15px;
    }

    h2{
        font-size: 50px;
        line-height: 55px;
        font-family: 'DM Serif Display', serif;

        @media screen and (max-width: 768px) {
            font-size: 30px;
            line-height: 35px;
        }
    }
}


.introC {
    font-size: 50px;
    // color: #000000;
    margin-bottom: 1rem;
}
.authorName{
    display: flex;
    align-items: center;
    justify-content: center;
    p{
        font-size: 25px;
        margin-bottom: 1rem;
        font-family: 'DM Serif Display', serif;
    }
}
.authorImage{
    display: flex;
    align-items: center;
    justify-content: center;
    img{
        width: 300px;
        height: 300px;
        object-fit: cover;
        object-position: center center;
    }
}