.heroSec{
   
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: flex-end;

    @media screen and (max-width: 768px) {
        height: 60vh;
        display: block;
        justify-content: center;
        align-items: flex-end;
       
    }
   
    P{
        font-family: 'Inter', sans-serif;
        font-size: 15px ;
    }

    h1{
        font-family: 'Inter', sans-serif;
        font-size: 150px ;
       
        @media (max-width: 468px) {
            font-size: 60px ;
            padding-top: 60px;
        }
    }
   
    
}

// events cards and sections

.EventsImage{
    height: 250px;
    width: 100%;
    object-fit: cover;
}
.EventsTitle{

    font-family: 'Inter', sans-serif;
    font-size: 20px ;
    font-weight: bold;
    // line-height: 40px;
    
    @media (max-width: 468px) {
        font-size: 30px ;
        line-height: 30px;
    }
}

.EventsDate , .EventsBtn , .EventsTime{
    font-family: 'Inter', sans-serif;
    font-size: 15px ;
}

.Description{
    font-family: 'Inter', sans-serif;
    font-size: 15px ;
    line-height: 25px;
   
}
