.tT{
    font-family: 'DM Serif Display', serif;
    font-size: 50px;
}

.sectionTT{
    font-family: 'DM Serif Display', serif;
    font-size: 30px ;
    padding: 5px 15px 2px  2px ;
}

.menuList{
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    margin: 20px 0px ;
}

P , ul , li{
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 16px;
    margin: 10px 0px ;
}